<h1 class="mat-display-3">Change Password</h1>
<div class="bg-div">
    <form class="example-form" [formGroup]="updatePasswordForm" #ngForm="ngForm">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Old Password</mat-label>
            <input matInput placeholder="Old Password" type="password" formControlName="oldPassword"
                [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div *ngIf="oldPassword?.invalid && oldPassword?.touched" style="color: red;">
            <small *ngIf="password?.errors?.['required']">Old Password is required</small>

        </div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>New Password</mat-label>
            <input matInput placeholder="New Password" type="password" formControlName="password"
                [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div *ngIf="password?.invalid && password?.touched" style="color: red;">
            <small *ngIf="password?.errors?.['minlength']">Password should have at least 5 characters</small>
            <small *ngIf="password?.errors?.['maxlength']">Password must not be over 8 characters</small>
            <small *ngIf="password?.errors?.['required']">Password is required</small>
            <small *ngIf="password?.errors?.['pattern']">
                (must include 1 capital, 1 small, 1 number, 1 symbol)
            </small>

        </div>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm New Password</mat-label>
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"
                [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div *ngIf="confirmPassword?.invalid && confirmPassword?.touched" style="color: red;">
            <small *ngIf="confirmPassword?.errors?.['required']">Confrim Password is required</small>
            <small *ngIf="confirmPassword?.errors?.['MustMatch']">Password does not match</small>
        </div>

        <button mat-raised-button color="primary" (click)="onConfirm()">Confirm</button>

        <button mat-raised-button color="warn" (click)="updatePasswordForm.reset()"
            style="margin: 0 10px;">Clear</button>
    </form>
</div>