.space {
    flex: 1 1 auto;
}

.left-nav-link {
    display: flex;
    justify-content: space-evenly;
}

.right-nav-link {
    display: flex;
    justify-content: space-evenly;

}

.main {
    margin-top: 100px;
}